@page "/"

<h1>Hello, world!</h1>
<BlazorCssIsolation.Button Text="Click Me"></BlazorCssIsolation.Button>

@*<BlazorCssIsolation.ConfigProvider Theme=@CustomTheme>
    <BlazorCssIsolation.Button Text="Tap Me"></BlazorCssIsolation.Button>
</BlazorCssIsolation.ConfigProvider>*@

@code {
    BlazorCssIsolation.Theme CustomTheme = new()
    {
        Button = new()
        {
            ButtonPrimaryBorderColor = "red"
        }
    };
}