@page "/"
@using BlazorCssIsolation.Theming.Tokens;

<PageTitle>Hello, world</PageTitle>

<h1>Hello, world!</h1>
<BlazorCssIsolation.Button Text="Click Me"></BlazorCssIsolation.Button>

<BlazorCssIsolation.ConfigProvider Customize="@customizeTheme">
    <BlazorCssIsolation.Button Text="Tap Me"></BlazorCssIsolation.Button>
</BlazorCssIsolation.ConfigProvider>

<BlazorCssIsolation.Button Text="Hit Me"></BlazorCssIsolation.Button>

@code {
    Func<ThemeToken, ThemeToken> customizeTheme = (themeToken) =>
    {
        return themeToken with { ColorPrimary = "red" };
    };
}