<button type="button" class="@ComponentCssClass">
    @Text
</button>

@code {
    private string BorderColor = "red";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _ = await Task.Delay(10_000).ContinueWith((t) => BorderColor = "green");
    }
}
